<h2>{{this.model.title}}</h2>
<p>{{this.model.description}}</p>
<p>Status: {{this.model.status}}</p>

<h3>Attachments</h3>
<ul>
  {{#each this.model.attachmentUrls as |url|}}
    <li><a href={{url}} target="_blank" rel="noopener noreferrer">View File</a></li>
  {{/each}}
</ul>

<h3>Comments</h3>
<ul>
  {{#each this.model.comments as |comment|}}
    <li>
      <strong>{{comment.user.name}} ({{comment.user.role}})</strong>:
      {{comment.body}}<br />
      <small>{{comment.createdAt}}</small>
    </li>
  {{/each}}
</ul>

<CommentSection @ticket={{this.model}} />